<module xmlns="urn:jboss:module:1.1" name="org.jboss.qe.subsys">
    <resources>
        <resource-root path="subsys-test.jar"/>
    </resources>

    <dependencies>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.cli"/>
        <module name="javax.xml.stream.api"/>
    </dependencies>
</module>
