<module xmlns="urn:jboss:module:1.3" name="org.jboss.qe.kremilek">
    <resources>
        <resource-root path="kremilek.jar"/>
    </resources>

    <dependencies>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.cli"/>
        <module name="javax.xml.stream.api"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
